.cache/
.dap-*
.lsp-session*
auto-save-list/
bookmarks
company-statistics-cache.el
eclipse.jdt.ls/
elpa/
eshell/
forge-database.sqlite
history
magithub/
persp-confs/
places
projectile-bookmarks.eld
projectile.cache
quelpa/
recentf
request/
smex-items
tldr/
tramp
transient/
url/
var/
workspace/
