.cache/
auto-save-list/
/bookmarks
elpa/
eshell/
/history
/places
/recentf
request/
/tramp
transient/
url/
var/
workspace/
/async-bytecomp.log
eln-cache/
tree-sitter/
/projects
/site-lisp/default.el
/.persistent-scratch
/reverse-im-cache.el
/custom.el
undo-fu-session/
/.emacs*.desktop
/.emacs*.desktop.lock
